body{
    background-color: #7a7a7a;
    margin: 0;
}
*,*::before,*::after{
    font-family: 'Mont';
    font-family: 'Ubuntu', sans-serif;

}
.shipwrap{
    min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
   
}
.buttn{
    color: #333;
    padding: .5rem 1em;
    border-radius: 0.3rem;
    background-color: rgba(224, 139, 12, 0.925);
    font-size: 2rem;
    text-decoration: none;
    margin-left: 2rem;

}
.buttn:hover,.buttn:focus{
    background-color: rgba(206, 124, 1, 0.925);
}

.mainwrapper{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgba(5, 5, 5, 0.171);
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.shipgrid{
display: grid;
    margin:2vin;

}

.wrappertitle{
    font-family: 'Plaguard', sans-serif;
    font-size: 5rem;
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */.la-square-jelly-box,.la-square-jelly-box>div{position:relative;box-sizing:border-box}.la-square-jelly-box{display:block;font-size:0;color:#fff}.la-square-jelly-box.la-dark{color:#333}.la-square-jelly-box>div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor}.la-square-jelly-box{width:32px;height:32px}.la-square-jelly-box>div:nth-child(1),.la-square-jelly-box>div:nth-child(2){position:absolute;left:0;width:100%}.la-square-jelly-box>div:nth-child(1){top:-25%;z-index:1;height:100%;border-radius:10%;animation:square-jelly-box-animate .6s -.1s linear infinite}.la-square-jelly-box>div:nth-child(2){bottom:-9%;height:10%;background:#000;border-radius:50%;opacity:.2;animation:square-jelly-box-shadow .6s -.1s linear infinite}.la-square-jelly-box.la-sm{width:16px;height:16px}.la-square-jelly-box.la-2x{width:64px;height:64px}.la-square-jelly-box.la-3x{width:96px;height:96px}@keyframes square-jelly-box-animate{17%{border-bottom-right-radius:10%}25%{transform:translateY(25%) rotate(22.5deg)}50%{border-bottom-right-radius:100%;transform:translateY(50%) scaleY(.9) rotate(45deg)}75%{transform:translateY(25%) rotate(67.5deg)}to{transform:translateY(0) rotate(90deg)}}@keyframes square-jelly-box-shadow{50%{transform:scaleX(1.25)}}
