.grid div {
    width: 40px;
    height: 40px;
  }

  .usergrid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
  }

  .container {
    display: flex;
  }

  .computergrid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
  }
  .shipselector {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: yellow;
  }
  .destroyerwrap {
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
  }
  .destroyer-vertical {
    width: 40px;
    height: 80px;
    background-color: orange;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .submarinewrap {
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 10px;
    display: flex;
  }
  .submarine-vertical {
    width: 40px;
    height: 120px;
    background-color: pink;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
