.grid div {
    width: 40px;
    height: 40px;
  }

  .usergrid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
  }

  .container {
    display: flex;
  }

  .computergrid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
  }